# These are third-party Python dependencies needed for the project
# The venv uses --system-site-packages, which allows it to use the system's ROS2's packages.
# Thus this is the only additional dependency needed (for the text parsing/recognition)

pytesseract==0.3.13
